.vehicle-list {
  width: 100%;

  .vehicle-container {
    outline: 1px solid lightgray;

    .vehicle-img {
      height: auto;
      object-fit: contain;
      width: auto;
    }

    .vehicle-details {
      margin: 0 1rem;

      .vehicle-name {
        margin-bottom: .5rem;
      }

      .vehicle-price {
        font-weight: bold;
        margin-top: .5rem;

      }
    }
  }
}

@media screen and (min-width: 0) {

  .vehicle-list {
    font-size: 10pt;

    .vehicle-container:first-child {
      margin: 0;
    }

    .vehicle-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 1px;

      .vehicle-details {

        .vehicle-name {
          margin: 1rem 0;
        }

        .vehicle-price {
          margin: 0;
        }
      }

      .vehicle-img {
        max-width: 150px;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .vehicle-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14pt;

    .vehicle-container {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      outline: 1px solid lightgray;

      .vehicle-img {
        max-width: 100%;
      }
      
      .vehicle-details {

        .vehicle-price {
          font-size: 12pt;
        }
      }

      .vehicle-details {
        text-align: center;

        .vehicle-name {
          text-decoration: underline overline;
          text-underline-offset: 4px;
        }

        .vehicle-description {
          font-size: 10pt;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .vehicle-list {
    flex-wrap: nowrap;
  }
}


